<div class="main">
    <div nz-row>
      <div nz-col nzSpan="24" style="margin-bottom: 20px;">
        <span style="margin: 20px;" *ngFor="let test of quizzes">
          <nz-card [nzBordered]="true" class="test" [nzTitle]="test.title">
            <p><strong>Time:</strong> {{ (test.time) }}</p>
            <p><strong>Description:</strong> {{ test.description }}</p>
  
 
            
  
            <!-- View Test & Add Question Buttons -->
            <button nz-button nzType="primary" routerLink="/user/take-test/{{test.id}}">start Test</button>
          
          </nz-card>
        </span>
      </div>
    </div>
  </div>
  