<div  class="main">
 <div style="display: flex; align-items: center; justify-content: center; ">
  <input 
  type="text"
  nz-input
  placeholder="Search quizzes..."
  [formControl]="searchControl"
  style="width: 70%; margin-bottom: 20px; "
/>
 </div>

    <div nz-row>
      <div nz-col nzSpan="24" style="margin-bottom: 20px;">
        <span style="margin: 20px;" *ngFor="let test of quizzes">
          <nz-card [nzBordered]="true" class="test" [nzTitle]="test.title">
            <p><strong>Time:</strong> {{ (test.time) }}</p>
            <p><strong>Description:</strong> {{ test.description }}</p>
  
 
            
  
            <!-- View Test & Add Question Buttons -->
            <button nz-button nzType="primary" routerLink="/user/take-test/{{test.id}}">start Test</button>
          
          </nz-card>
        </span>
      </div>
    </div>


    <div class="pagination-container" style="display: flex; align-items: center; justify-content: center;" >
      <nz-pagination 
        [nzPageSize]="pageSize"
        [nzTotal]="totalElements"
        [(nzPageIndex)]="currentPage"
        (nzPageIndexChange)="onPageChange($event)">
      </nz-pagination>
    </div>
  </div>
  