<div>
  <div *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973;">
    <div>
      <a routerLink="/login" style="color: white; margin-left: 50px;font-size: 18px; font-weight: bolder;">
        Quiz App
      </a>
    </div>
    <div>
      <a nz-button nzType="link" routerLink="/register">Sign Up</a>
      <a nz-button nzType="link" routerLink="/login">login</a>
    </div>
    </nz-header> </div>

    <div *ngIf="isAdminLoggedIn">
      <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973;">
        <div>
          <a routerLink="/admin/dashboard" style="color: white; margin-left: 50px;font-size: 18px; font-weight: bolder;">
            Quiz App
          </a>
        </div>
        <div>
          <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard </a>
          <a nz-button nzType="link" routerLink="/admin/create-test" routerLinkActive="active">Create Test</a>
          <a nz-button nzType="link" routerLink="/admin/view-test-results" routerLinkActive="active">View Results</a>
          <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
        </div>
        </nz-header>
       </div>

       <div *ngIf="isUserLoggedIn">
        <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973;">
          <div>
            <a routerLink="/user/dashboard" style="color: white; margin-left: 50px;font-size: 18px; font-weight: bolder;">
              Quiz App
            </a>
          </div>
          <div>
            <a nz-button nzType="link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard </a>
            <a nz-button nzType="link" routerLink="/user/view-test-results" routerLinkActive="active">View Results</a>
            <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
          </div>
          </nz-header>
         </div>

    <router-outlet></router-outlet>
</div>

